@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --color-primary: var(--bg-primary);
  --color-secondary: var(--text-primary);
  --color-accent: var(--accent-color);
  --color-muted: var(--text-muted);
  --cursor-none: none;
}

.noise-texture,
.bg-noise {
  background-image: url('/noise.png');
  background-repeat: repeat;
  background-size: 128px 128px;
  pointer-events: none;
}
